a {color: black !important;}

#brandname {
    padding-top: 35px;
    text-align: center;
    font-family: 'Covered By Your Grace';
    font-size: 75px;
}

html,body{
/* background-size: cover;
background-repeat: no-repeat; */
height: 100%;
font-family: 'Numans', sans-serif;
}

#panel-container {
    margin: 30px;
}

.container{
/* height: 100%; */
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}



/* welcome banner CSS */

#welcome-banner {
  background: #FCBBA5;
  height: 400px;
}
.hidden {
  opacity:0;
}
.console-container {
  font-family: 'Covered By Your Grace';
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}



/* Dog Div CSS */

#dog-div {
    background-color: rgb(250, 213, 201) !important;
    width: 600px;
    height: 650px;
    margin-left: 400px;
}

#dog-image {
    width: 450px;
    margin-left: 50px;
}

.dog-name {
    text-align: center;
    margin-top: 30px;
}

.bio-left {
    float: left;
    margin: 20px 0px 0px 20px;
}

.bio-right {
    float: right;
    margin: 20px 30px 0px 0px
}




