a {color: black !important;}

#brandname {
    padding-top: 35px;
    text-align: center;
    font-family: 'Covered By Your Grace';
    font-size: 75px;
}

html,body{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

#panel-container {
    margin: 30px;
    padding: 50px;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 250px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
text-align: center;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;

}

.login_btn:hover{
color: black;
background-color: white;

}

.links{
color: white;
}

.links a{
margin-left: 4px;
}





/* welcome banner CSS */
#welcome-banner {
  background: #FCBBA5;
  height: 300px;
}
.hidden {
  opacity:0;
}
.console-container {
  font-family: 'Covered By Your Grace';
  font-size:4em;
  text-align:center;
  height: 350px;
  width:600px;
  display:block;
  position: absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}



/* Gallery container CSS */

#gallery-container { 
    box-sizing: border-box; 
    height: 400px;
    margin: 0;
    padding: 0; 
}

#gallery-container :root {
    font-size: 16px; 
}

#gallery-container, ::before, ::after {
    box-sizing: inherit; 
}

#gallery-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 400px;
}

#gallery-container ul img {
    margin: 0;
    padding: 0;
    height: 400px;
    width: auto;
}

.overflow-x-auto {
    overflow-x: auto;
}

.flex {
    display: flex;
}




/* Left & Right arrows */
#left-arrow {
    float: left;
    color: #cd3b36;
    margin-left: 150px;
    margin-top: 25%;
}

#right-arrow {
    float: right;
    color: #cd3b36;
    margin-right: 200px;
    margin-top: 25%;
}





/* Dog Div CSS */
#dog-div {
    background-color: rgb(250, 213, 201) !important;
    width: 600px;
    height: auto;
    margin-left: 350px;
    font-family: 'Overpass Mono', monospace;
}

#dog-image {
    height: 300px;
    width: auto;
}

#dog-bio {
    text-align: center;
    margin-top: 30px;
}

.dog-name {
    font-family: 'Rock Salt', cursive;
}

.bio-right {
    float: right;
    text-align: left;    
    margin: 20px 10px 0px 0px;
    background-color: white;
    padding: 10px 10px 0px 10px;
}
.bio-left {
    float: left;
    text-align: left;
    width: 285px;
    height: auto;
    margin: 30px 0px 0px 20px;
}



/* Agency tag CSS */

.agency-info-title {
    background-color: white;
    margin: 0 50px 10px 50px;
}




/* Pets modal */

.modal {
    /* This way it could be display flex or grid or whatever also. */
    display: block;
    
    width: 600px;
    max-width: 100%;
    
    height: 400px;
    max-height: 100%;
    
    position: fixed;
    
    z-index: 100;
    
    left: 50%;
    top: 50%;
    
    transform: translate(-50%, -50%);
    
    
    
    background: white;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  }
  .closed {
    display: none;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    
    background: rgba(0, 0, 0, 0.6);
  }
  .modal-guts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 50px 20px 20px;
  }
  
  
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background-color:#556;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    
    font-family: 'Prompt', sans-serif;
  }
  ul {
    margin: 10px 0 10px 30px;
  }
  li, p {
    margin: 0 0 10px 0;
  }
  h1 {
    margin: 0 0 20px 0;
  }
  
  .modal .close-button {
    position: absolute;
    
    z-index: 1;
    
    top: 10px;
    
    /* needs to look OK with or without scrollbar */
    right: 20px;
    
    border: 0;
    background: black;
    color: white;
    padding: 5px 10px;
    font-size: 1.3rem;
  }

